## Modelo Random Forest sin uso de cluster

In [661]:
# importamos las librerias necesarias
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [662]:
# importamos los datos en un dataframe con nombre data_completa
data_completa = pd.read_csv('https://raw.githubusercontent.com/KevinRamosRivas/G2-MINERIA_DATOS/main/IGP_Datos-Sismicos_Consolidados_V3.csv')

In [663]:
data_completa.head()

,provincia,region,mes,año,latitud(º),longitud(º),profundidad_km,magnitud_Mw
0,Huaral,Lima,1,1940,-11.5,-77.0,50.0,5.82
1,Cañete,Lima,7,1945,-13.0,-76.2,80.0,4.97
2,Cañete,Lima,8,1945,-13.0,-76.2,80.0,4.97
3,Cañete,Lima,9,1945,-13.0,-76.2,80.0,4.52
4,Cañete,Lima,9,1945,-13.0,-76.2,80.0,4.97

In [664]:
# separamos la data en categorica y numerica
data_numerica = data_completa.select_dtypes(include = np.number)
data_categorica = data_completa.select_dtypes(include = np.object)

C:\Users\ramos\AppData\Local\Temp\ipykernel_8344\2048394643.py:3: DeprecationWarning: `np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  data_categorica = data_completa.select_dtypes(include = np.object)

In [665]:
# separamos la data en X e y
X = data_numerica.drop(['magnitud_Mw'], axis = 1)
y = data_numerica['magnitud_Mw']

In [666]:
# separamos la data en train y test
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [667]:
# importamos el modelo de random forest
from sklearn.ensemble import RandomForestRegressor
regressor = RandomForestRegressor(n_estimators = 100, random_state = 0)

# entrenamos el modelo
regressor.fit(X_train, y_train)

# predecimos los valores de y
y_pred = regressor.predict(X_test)

In [668]:
#obtener el r2, mae, rmse y mse random forest sin ninun cluster
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error
r2 = r2_score(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)
rmse = np.sqrt(mean_squared_error(y_test, y_pred))
mse = mean_squared_error(y_test, y_pred)

#unir los resultados en un dataframe
resultados = pd.DataFrame({'r2': r2, 'mae': mae, 'rmse': rmse, 'mse': mse}, index = [0])
resultados

         r2       mae      rmse       mse
0 -0.028835  0.205291  0.243641  0.059361

## Analizamos cuantos clusters hay en el dataset

In [669]:
# importamos los datos
x_train = pd.read_csv('https://raw.githubusercontent.com/KevinRamosRivas/G2-MINERIA_DATOS/main/X_train.csv')
y_train = pd.read_csv('https://raw.githubusercontent.com/KevinRamosRivas/G2-MINERIA_DATOS/main/y_train.csv')
x_test = pd.read_csv('https://raw.githubusercontent.com/KevinRamosRivas/G2-MINERIA_DATOS/main/X_test.csv')
y_test = pd.read_csv('https://raw.githubusercontent.com/KevinRamosRivas/G2-MINERIA_DATOS/main/y_test.csv')

In [670]:
x_train.head()

,mes,año,latitud(º),longitud(º),profundidad_km,cluster_Kmeans,cluster_Kmedoids
0,12,1992,-13.1200,-76.3800,16.0,1,5
1,2,1984,-12.4200,-76.9400,53.0,2,0
2,10,2015,-10.6100,-76.8352,127.0,0,1
3,1,1995,-12.9500,-76.1500,12.0,1,5
4,2,2003,-11.1248,-77.2045,126.0,0,1

In [671]:
# obtener el numero de elementos por cada cluster de kmeans y unirlo en un dataframe
cluster_0 = x_train[x_train['cluster_Kmeans'] == 0]
cluster_1 = x_train[x_train['cluster_Kmeans'] == 1]
cluster_2 = x_train[x_train['cluster_Kmeans'] == 2]
cluster_3 = x_train[x_train['cluster_Kmeans'] == 3]

# unir los resultados en un dataframe
print('NUMERO DE ELEMENTOS POR CLUSTER KMeans EN X_TRAIN')
cluster = pd.DataFrame({'cluster_0': cluster_0.shape[0], 'cluster_1': cluster_1.shape[0], 'cluster_2': cluster_2.shape[0], 'cluster_3': cluster_3.shape[0]}, index = [0])
cluster

NUMERO DE ELEMENTOS POR CLUSTER KMeans EN X_TRAIN

   cluster_0  cluster_1  cluster_2  cluster_3
0        143         86        117         25

In [672]:
# obtener el numero de elementos por cada cluster de kmeans en x_test y unirlo en un dataframe
cluster_0 = x_test[x_test['cluster_Kmeans'] == 0]
cluster_1 = x_test[x_test['cluster_Kmeans'] == 1]
cluster_2 = x_test[x_test['cluster_Kmeans'] == 2]
cluster_3 = x_test[x_test['cluster_Kmeans'] == 3]

# unir los resultados en un dataframe
print('NUMERO DE ELEMENTOS POR CLUSTER KMeans EN X_TEST')
cluster = pd.DataFrame({'cluster_0': cluster_0.shape[0], 'cluster_1': cluster_1.shape[0], 'cluster_2': cluster_2.shape[0], 'cluster_3': cluster_3.shape[0]}, index = [0])
cluster

NUMERO DE ELEMENTOS POR CLUSTER KMeans EN X_TEST

   cluster_0  cluster_1  cluster_2  cluster_3
0         54         32         56         17

In [673]:
# obtener el numero de elementos por cada cluster de kmedoids en x_train y unirlo en un dataframe
#hay 6 clusters en kmedoids
cluster_0 = x_train[x_train['cluster_Kmedoids'] == 0]
cluster_1 = x_train[x_train['cluster_Kmedoids'] == 1]
cluster_2 = x_train[x_train['cluster_Kmedoids'] == 2]
cluster_3 = x_train[x_train['cluster_Kmedoids'] == 3]
cluster_4 = x_train[x_train['cluster_Kmedoids'] == 4]
cluster_5 = x_train[x_train['cluster_Kmedoids'] == 5]

# unir los resultados en un dataframe
print('NUMERO DE ELEMENTOS POR CLUSTER KMedoids EN X_TRAIN')
cluster = pd.DataFrame({'cluster_0': cluster_0.shape[0], 'cluster_1': cluster_1.shape[0], 'cluster_2': cluster_2.shape[0], 'cluster_3': cluster_3.shape[0], 'cluster_4': cluster_4.shape[0], 'cluster_5': cluster_5.shape[0]}, index = [0])
cluster

NUMERO DE ELEMENTOS POR CLUSTER KMedoids EN X_TRAIN

   cluster_0  cluster_1  cluster_2  cluster_3  cluster_4  cluster_5
0         80         77         22         54         67         71

In [674]:
# obtener el numero de elementos por cada cluster de kmedoids en x_test y unirlo en un dataframe
#hay 6 clusters en kmedoids
cluster_0 = x_test[x_test['cluster_Kmedoids'] == 0]
cluster_1 = x_test[x_test['cluster_Kmedoids'] == 1]
cluster_2 = x_test[x_test['cluster_Kmedoids'] == 2]
cluster_3 = x_test[x_test['cluster_Kmedoids'] == 3]
cluster_4 = x_test[x_test['cluster_Kmedoids'] == 4]
cluster_5 = x_test[x_test['cluster_Kmedoids'] == 5]

# unir los resultados en un dataframe
print('NUMERO DE ELEMENTOS POR CLUSTER KMedoids EN X_TEST')
cluster = pd.DataFrame({'cluster_0': cluster_0.shape[0], 'cluster_1': cluster_1.shape[0], 'cluster_2': cluster_2.shape[0], 'cluster_3': cluster_3.shape[0], 'cluster_4': cluster_4.shape[0], 'cluster_5': cluster_5.shape[0]}, index = [0])
cluster

NUMERO DE ELEMENTOS POR CLUSTER KMedoids EN X_TEST

   cluster_0  cluster_1  cluster_2  cluster_3  cluster_4  cluster_5
0         35         20         16         35         32         21

## Modelo Random Forest con clusteres de Kmeans

In [675]:
# importamos la data 
xc_train = pd.read_csv('https://raw.githubusercontent.com/KevinRamosRivas/G2-MINERIA_DATOS/main/X_train.csv')
yc_train = pd.read_csv('https://raw.githubusercontent.com/KevinRamosRivas/G2-MINERIA_DATOS/main/y_train.csv')
xc_test = pd.read_csv('https://raw.githubusercontent.com/KevinRamosRivas/G2-MINERIA_DATOS/main/X_test.csv')
yc_test = pd.read_csv('https://raw.githubusercontent.com/KevinRamosRivas/G2-MINERIA_DATOS/main/y_test.csv')

In [676]:
xc_train.head()

,mes,año,latitud(º),longitud(º),profundidad_km,cluster_Kmeans,cluster_Kmedoids
0,12,1992,-13.1200,-76.3800,16.0,1,5
1,2,1984,-12.4200,-76.9400,53.0,2,0
2,10,2015,-10.6100,-76.8352,127.0,0,1
3,1,1995,-12.9500,-76.1500,12.0,1,5
4,2,2003,-11.1248,-77.2045,126.0,0,1

In [677]:
xc_test.head()

,mes,año,latitud(º),longitud(º),profundidad_km,cluster_Kmedoids,cluster_Kmeans
0,12,1989,-12.6100,-76.6600,46.0,0,2
1,7,2011,-11.6147,-76.6758,103.0,3,0
2,2,1946,-13.0000,-76.2000,80.0,2,3
3,3,2003,-12.7305,-75.7530,87.0,4,0
4,12,2000,-11.9202,-76.9046,75.0,4,2

In [678]:
# importamos el modelo de random forest
from sklearn.ensemble import RandomForestRegressor

# creamos un modelo de random forest para cada cluster de kmeans, en total hay 4 clusters
regressor1 = RandomForestRegressor(n_estimators = 100, random_state = 0)
regressor2 = RandomForestRegressor(n_estimators = 100, random_state = 0)
regressor3 = RandomForestRegressor(n_estimators = 100, random_state = 0)
regressor4 = RandomForestRegressor(n_estimators = 100, random_state = 0)

# entrenamos el modelo de random forest para cada cluster de kmeans obviando las columnas de cluster_Kmeans y cluster_Kmedoids
regressor1.fit(xc_train[xc_train['cluster_Kmeans'] == 0].drop(['cluster_Kmeans', 'cluster_Kmedoids'], axis = 1), yc_train[xc_train['cluster_Kmeans'] == 0].values.ravel())
regressor2.fit(xc_train[xc_train['cluster_Kmeans'] == 1].drop(['cluster_Kmeans', 'cluster_Kmedoids'], axis = 1), yc_train[xc_train['cluster_Kmeans'] == 1].values.ravel())
regressor3.fit(xc_train[xc_train['cluster_Kmeans'] == 2].drop(['cluster_Kmeans', 'cluster_Kmedoids'], axis = 1), yc_train[xc_train['cluster_Kmeans'] == 2].values.ravel())
regressor4.fit(xc_train[xc_train['cluster_Kmeans'] == 3].drop(['cluster_Kmeans', 'cluster_Kmedoids'], axis = 1), yc_train[xc_train['cluster_Kmeans'] == 3].values.ravel())

RandomForestRegressor(random_state=0)

In [679]:

# predecimos los valores de y para cada cluster de kmeans obviando las columnas de cluster_Kmeans y cluster_Kmedoids
y_pred1 = regressor1.predict(xc_test[xc_test['cluster_Kmeans'] == 0].drop(['cluster_Kmeans', 'cluster_Kmedoids'], axis = 1))
y_pred2 = regressor2.predict(xc_test[xc_test['cluster_Kmeans'] == 1].drop(['cluster_Kmeans', 'cluster_Kmedoids'], axis = 1))
y_pred3 = regressor3.predict(xc_test[xc_test['cluster_Kmeans'] == 2].drop(['cluster_Kmeans', 'cluster_Kmedoids'], axis = 1))
y_pred4 = regressor4.predict(xc_test[xc_test['cluster_Kmeans'] == 3].drop(['cluster_Kmeans', 'cluster_Kmedoids'], axis = 1))

In [680]:
#importar metricas
from sklearn import metrics
# obtener el r2, mae, rmse y mse para cada cluster de kmeans en un dataframe
r2_kmeans = [metrics.r2_score(yc_test[xc_test['cluster_Kmeans'] == 0], y_pred1)*100, metrics.r2_score(yc_test[xc_test['cluster_Kmeans'] == 1], y_pred2)*100, metrics.r2_score(yc_test[xc_test['cluster_Kmeans'] == 2], y_pred3)*100, metrics.r2_score(yc_test[xc_test['cluster_Kmeans'] == 3], y_pred4)*100]
mae_kmeans = [metrics.mean_absolute_error(yc_test[xc_test['cluster_Kmeans'] == 0], y_pred1), metrics.mean_absolute_error(yc_test[xc_test['cluster_Kmeans'] == 1], y_pred2), metrics.mean_absolute_error(yc_test[xc_test['cluster_Kmeans'] == 2], y_pred3), metrics.mean_absolute_error(yc_test[xc_test['cluster_Kmeans'] == 3], y_pred4)]
rmse_kmeans = [np.sqrt(metrics.mean_squared_error(yc_test[xc_test['cluster_Kmeans'] == 0], y_pred1)), np.sqrt(metrics.mean_squared_error(yc_test[xc_test['cluster_Kmeans'] == 1], y_pred2)), np.sqrt(metrics.mean_squared_error(yc_test[xc_test['cluster_Kmeans'] == 2], y_pred3)), np.sqrt(metrics.mean_squared_error(yc_test[xc_test['cluster_Kmeans'] == 3], y_pred4))]
mse_kmeans = [metrics.mean_squared_error(yc_test[xc_test['cluster_Kmeans'] == 0], y_pred1), metrics.mean_squared_error(yc_test[xc_test['cluster_Kmeans'] == 1], y_pred2), metrics.mean_squared_error(yc_test[xc_test['cluster_Kmeans'] == 2], y_pred3), metrics.mean_squared_error(yc_test[xc_test['cluster_Kmeans'] == 3], y_pred4)]

# unimos los resultados en un dataframe
df_kmeans = pd.DataFrame({'r2': r2_kmeans, 'mae': mae_kmeans, 'rmse': rmse_kmeans, 'mse': mse_kmeans}, index = ['cluster 1', 'cluster 2', 'cluster 3', 'cluster 4'])
df_kmeans

                  r2       mae      rmse       mse
cluster 1  55.987898  0.182389  0.235910  0.055654
cluster 2 -64.757864  0.187094  0.237977  0.056633
cluster 3  14.897765  0.160679  0.233614  0.054576
cluster 4   9.152627  0.216872  0.294423  0.086685

## Modelo Random Forest con clusteres de Kmedoids

In [681]:
# importamos la data 
xc_train = pd.read_csv('https://raw.githubusercontent.com/KevinRamosRivas/G2-MINERIA_DATOS/main/X_train.csv')
yc_train = pd.read_csv('https://raw.githubusercontent.com/KevinRamosRivas/G2-MINERIA_DATOS/main/y_train.csv')
xc_test = pd.read_csv('https://raw.githubusercontent.com/KevinRamosRivas/G2-MINERIA_DATOS/main/X_test.csv')
yc_test = pd.read_csv('https://raw.githubusercontent.com/KevinRamosRivas/G2-MINERIA_DATOS/main/y_test.csv')

In [682]:
# importamos el modelo de random forest
from sklearn.ensemble import RandomForestRegressor

# creamos un modelo de random forest para cada cluster de kmedoids, en total hay 6 clusters
regressor_kmedoids1 = RandomForestRegressor(n_estimators = 100, random_state = 0)
regressor_kmedoids2 = RandomForestRegressor(n_estimators = 100, random_state = 0)
regressor_kmedoids3 = RandomForestRegressor(n_estimators = 100, random_state = 0)
regressor_kmedoids4 = RandomForestRegressor(n_estimators = 100, random_state = 0)
regressor_kmedoids5 = RandomForestRegressor(n_estimators = 100, random_state = 0)
regressor_kmedoids6 = RandomForestRegressor(n_estimators = 100, random_state = 0)

In [683]:
# entrenamos el modelo de random forest para cada cluster de kmedoids obviando las columnas de cluster_Kmeans y cluster_Kmedoids
regressor_kmedoids1.fit(xc_train[xc_train['cluster_Kmedoids'] == 0].drop(['cluster_Kmeans', 'cluster_Kmedoids'], axis = 1), yc_train[xc_train['cluster_Kmedoids'] == 0].values.ravel())
regressor_kmedoids2.fit(xc_train[xc_train['cluster_Kmedoids'] == 1].drop(['cluster_Kmeans', 'cluster_Kmedoids'], axis = 1), yc_train[xc_train['cluster_Kmedoids'] == 1].values.ravel())
regressor_kmedoids3.fit(xc_train[xc_train['cluster_Kmedoids'] == 2].drop(['cluster_Kmeans', 'cluster_Kmedoids'], axis = 1), yc_train[xc_train['cluster_Kmedoids'] == 2].values.ravel())
regressor_kmedoids4.fit(xc_train[xc_train['cluster_Kmedoids'] == 3].drop(['cluster_Kmeans', 'cluster_Kmedoids'], axis = 1), yc_train[xc_train['cluster_Kmedoids'] == 3].values.ravel())
regressor_kmedoids5.fit(xc_train[xc_train['cluster_Kmedoids'] == 4].drop(['cluster_Kmeans', 'cluster_Kmedoids'], axis = 1), yc_train[xc_train['cluster_Kmedoids'] == 4].values.ravel())
regressor_kmedoids6.fit(xc_train[xc_train['cluster_Kmedoids'] == 5].drop(['cluster_Kmeans', 'cluster_Kmedoids'], axis = 1), yc_train[xc_train['cluster_Kmedoids'] == 5].values.ravel())

RandomForestRegressor(random_state=0)

In [684]:
# predecimos los valores de y para cada cluster de kmedoids obviando las columnas de cluster_Kmeans y cluster_Kmedoids
y_pred_kmedoids1 = regressor_kmedoids1.predict(xc_test[xc_test['cluster_Kmedoids'] == 0].drop(['cluster_Kmeans', 'cluster_Kmedoids'], axis = 1))
y_pred_kmedoids2 = regressor_kmedoids2.predict(xc_test[xc_test['cluster_Kmedoids'] == 1].drop(['cluster_Kmeans', 'cluster_Kmedoids'], axis = 1))
y_pred_kmedoids3 = regressor_kmedoids3.predict(xc_test[xc_test['cluster_Kmedoids'] == 2].drop(['cluster_Kmeans', 'cluster_Kmedoids'], axis = 1))
y_pred_kmedoids4 = regressor_kmedoids4.predict(xc_test[xc_test['cluster_Kmedoids'] == 3].drop(['cluster_Kmeans', 'cluster_Kmedoids'], axis = 1))
y_pred_kmedoids5 = regressor_kmedoids5.predict(xc_test[xc_test['cluster_Kmedoids'] == 4].drop(['cluster_Kmeans', 'cluster_Kmedoids'], axis = 1))
y_pred_kmedoids6 = regressor_kmedoids6.predict(xc_test[xc_test['cluster_Kmedoids'] == 5].drop(['cluster_Kmeans', 'cluster_Kmedoids'], axis = 1))

In [685]:
#importar metricas
from sklearn import metrics
# obtener el r2, mae, rmse y mse para cada cluster de kmedoids en un dataframe
r2_kmedoids = [metrics.r2_score(yc_test[xc_test['cluster_Kmedoids'] == 0], y_pred_kmedoids1)*100, metrics.r2_score(yc_test[xc_test['cluster_Kmedoids'] == 1], y_pred_kmedoids2)*100, metrics.r2_score(yc_test[xc_test['cluster_Kmedoids'] == 2], y_pred_kmedoids3)*100, metrics.r2_score(yc_test[xc_test['cluster_Kmedoids'] == 3], y_pred_kmedoids4)*100, metrics.r2_score(yc_test[xc_test['cluster_Kmedoids'] == 4], y_pred_kmedoids5)*100, metrics.r2_score(yc_test[xc_test['cluster_Kmedoids'] == 5], y_pred_kmedoids6)*100]
mae_kmedoids = [metrics.mean_absolute_error(yc_test[xc_test['cluster_Kmedoids'] == 0], y_pred_kmedoids1), metrics.mean_absolute_error(yc_test[xc_test['cluster_Kmedoids'] == 1], y_pred_kmedoids2), metrics.mean_absolute_error(yc_test[xc_test['cluster_Kmedoids'] == 2], y_pred_kmedoids3), metrics.mean_absolute_error(yc_test[xc_test['cluster_Kmedoids'] == 3], y_pred_kmedoids4), metrics.mean_absolute_error(yc_test[xc_test['cluster_Kmedoids'] == 4], y_pred_kmedoids5), metrics.mean_absolute_error(yc_test[xc_test['cluster_Kmedoids'] == 5], y_pred_kmedoids6)]
rmse_kmedoids = [np.sqrt(metrics.mean_squared_error(yc_test[xc_test['cluster_Kmedoids'] == 0], y_pred_kmedoids1)), np.sqrt(metrics.mean_squared_error(yc_test[xc_test['cluster_Kmedoids'] == 1], y_pred_kmedoids2)), np.sqrt(metrics.mean_squared_error(yc_test[xc_test['cluster_Kmedoids'] == 2], y_pred_kmedoids3)), np.sqrt(metrics.mean_squared_error(yc_test[xc_test['cluster_Kmedoids'] == 3], y_pred_kmedoids4)), np.sqrt(metrics.mean_squared_error(yc_test[xc_test['cluster_Kmedoids'] == 4], y_pred_kmedoids5)), np.sqrt(metrics.mean_squared_error(yc_test[xc_test['cluster_Kmedoids'] == 5], y_pred_kmedoids6))]
mse_kmedoids = [metrics.mean_squared_error(yc_test[xc_test['cluster_Kmedoids'] == 0], y_pred_kmedoids1), metrics.mean_squared_error(yc_test[xc_test['cluster_Kmedoids'] == 1], y_pred_kmedoids2), metrics.mean_squared_error(yc_test[xc_test['cluster_Kmedoids'] == 2], y_pred_kmedoids3), metrics.mean_squared_error(yc_test[xc_test['cluster_Kmedoids'] == 3], y_pred_kmedoids4), metrics.mean_squared_error(yc_test[xc_test['cluster_Kmedoids'] == 4], y_pred_kmedoids5), metrics.mean_squared_error(yc_test[xc_test['cluster_Kmedoids'] == 5], y_pred_kmedoids6)]

df_kmedoids = pd.DataFrame({'r2': r2_kmedoids, 'mae': mae_kmedoids, 'rmse': rmse_kmedoids, 'mse': mse_kmedoids}, index = ['cluster 1', 'cluster 2', 'cluster 3', 'cluster 4', 'cluster 5', 'cluster 6'])
df_kmedoids

                  r2       mae      rmse       mse
cluster 1  -9.856837  0.148000  0.234158  0.054830
cluster 2   3.461798  0.150100  0.185385  0.034368
cluster 3  -1.207494  0.232253  0.313017  0.097980
cluster 4  51.409079  0.204343  0.263649  0.069511
cluster 5  13.861121  0.169062  0.213604  0.045627
cluster 6 -50.398693  0.203076  0.251557  0.063281