# Equipo 2: Trabajo parcial

## Semana 7
## Curso: Minería de Datos
## Integrantes:
* Blas Ruiz, Luis Aaron - 19200069
* Huarhuachi Ortega, Andrea Mariana - 19200267
* Ramos Rivas, Kevin Keyler - 19200096
* Rojas Villanueva, Paula Elianne - 19200266
* Torres Talaverano, Luz Elena - 19200294

## Información del conjunto de datos
Esta base es respecto a los datos sísmicos las cuales contiene todos los parámetros que caracterizan a un sismo, calculados en las mismas condiciones a fin de constituirse como una base homogénea: fecha, hora, latitud, longitud, profundidad y magnitud.


#### Atributos para el conjunto de datos
* fecha_UTC: Hora universal coordinada (UTC), Es la fecha con cinco horas adelantadas con respecto a la hora local debido a que Peru se encuentra en una zona horaria UTC -5
* hora_UTC: Hora universal coordinada (UTC), cinco horas adelantadas con respecto a la hora local debido a que Peru se encuentra en una zona horaria UTC -5
* latitud(º): Es la distancia en grados, minutos y segundos que hay con respecto al paralelo principal, que es el ecuador (0º). La latitud puede ser norte y sur
* longitud(º): Es la distancia en grados, minutos y segundos que hay con respecto al meridiano principal, que es el meridiano de Greenwich (0º).
* profundidad_km: Profundidad del foco sísmisco por debajo de la superficie

Estas tres columnas luego seran reemplazadas ya que la data nueva del IGP solo posee una columna llamada Magnitud(M)
* magnitud_mb: Magnitud de Ondas de Cuerpo
* magnitud_Ms: Magnitud de Ondas Superficiales
* magnitud_Mw: Magnitud Momento (Corresponde a la cantidad de energía liberada por el sismo)

## Importación de Librerías

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

**Leer archivo de datos de 1920-2022 y datos historicos**

In [2]:
df_sismos_1920_2022 = pd.read_csv('https://raw.githubusercontent.com/KevinRamosRivas/G2-MINERIA_DATOS/main/IGP_Datos-Sismicos_1960-2022_V2.csv')

In [3]:
df_sismos_historico = pd.read_csv('https://raw.githubusercontent.com/KevinRamosRivas/G2-MINERIA_DATOS/main/IGP_datos_sismicosHist%C3%B3rico_V2.csv')

**Describiendo datasets**

In [4]:
df_sismos_1920_2022.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 494 entries, 0 to 493
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   provincia       494 non-null    object
 1   region          494 non-null    object
 2   mes             494 non-null    int64
 3   año             494 non-null    int64
 4   latitud(º)      494 non-null    float64
 5   longitud(º)     494 non-null    float64
 6   profundidad_km  494 non-null    int64
 7   magnitud_Mw     494 non-null    float64
dtypes: float64(3), int64(3), object(2)
memory usage: 31.0+ KB

In [5]:
df_sismos_1920_2022.shape

(494, 8)

In [6]:
df_sismos_historico.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   provincia       36 non-null     object
 1   region          36 non-null     object
 2   mes             36 non-null     int64
 3   año             36 non-null     int64
 4   latitud(º)      36 non-null     float64
 5   longitud(º)     36 non-null     float64
 6   profundidad_km  36 non-null     float64
 7   magnitud_Mw     36 non-null     float64
dtypes: float64(4), int64(2), object(2)
memory usage: 2.4+ KB

In [7]:
df_sismos_historico.shape

(36, 8)

**Consolidando datos en uno solo**

In [8]:
df_sismos = pd.concat([df_sismos_historico, df_sismos_1920_2022], axis=0)

In [9]:
# reiniciar los índices
df_sismos = df_sismos.reset_index(drop=True)

In [10]:
df_sismos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 530 entries, 0 to 529
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   provincia       530 non-null    object
 1   region          530 non-null    object
 2   mes             530 non-null    int64
 3   año             530 non-null    int64
 4   latitud(º)      530 non-null    float64
 5   longitud(º)     530 non-null    float64
 6   profundidad_km  530 non-null    float64
 7   magnitud_Mw     530 non-null    float64
dtypes: float64(4), int64(2), object(2)
memory usage: 33.2+ KB

In [11]:
df_sismos.shape

(530, 8)

In [12]:
df_sismos.describe()

,mes,año,latitud(º),longitud(º),profundidad_km,magnitud_Mw
count,530.00000,530.000000,530.000000,530.000000,530.000000,530.000000
mean,6.59434,1995.941509,-12.021474,-76.615903,72.573585,4.681283
std,3.37448,17.869364,0.682467,0.425175,31.994731,0.282388
min,1.00000,1940.000000,-13.200000,-77.746300,6.000000,3.900000
25%,4.00000,1989.000000,-12.520000,-76.869375,47.250000,4.500000
50%,7.00000,1995.000000,-12.100000,-76.640000,74.500000,4.600000
75%,10.00000,2011.000000,-11.561550,-76.343825,98.000000,4.900000
max,12.00000,2022.000000,-10.337600,-75.550000,142.000000,5.820000

**Guardando datos consolidados**

In [13]:
df_sismos.to_csv('IGP_Datos-Sismicos_Consolidados_V3.csv', index=False)

### ¡FIN TRABAJO!